# Entorno
.venv/
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Datos generados
data/*
ALL_10_YEARS
df_limpio_10_years
df_postgres.pkl
*.pickle
*.pkl

# Modelos
modelos/*
modelos_LightGBM/*

# Zona de trabajo
zona_de_trabajo/pruebas.ipynb

# Streamlit
.streamlit/secrets.toml

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# PyInstaller
#   Usually these files are written by a python script from a template
#   before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt